@model TasksSystem.Models.DecryptedUser

@{
    ViewData["Title"] = "UsersDetails";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DecryptedFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DecryptedFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DecryptedLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DecryptedLastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="Profile" asp-action="Index">Back to Your Tasks</a>
</div>
